
<div class="container">
  <%= form_with(model: post) do |f| %>

  <div class="field">
    <%= f.label :title, class: "form-control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :body, class: "form-control-label" %>
    <%= f.rich_text_area :body, class: "form-control" %>
  </div><br>
  <%= f.submit class: "btn btn-success btn-sm" %>
  <% end %>
</div>


<script>
  window.addEventListener("trix-file-accept", function(event) {
    event.preventDefault()
    alert("You cannot upload files")
  })
</script>
